
@{
    ViewBag.Title = "Index";
}

<h2>Exemplos de funções JavaScript e jQuery</h2>
<ul>
    <li>@Html.ActionLink("Exemplo 01 - JavaScript Puro", "Exemplo01")</li>
    <li>@Html.ActionLink("Exemplo 02 - JavaScript Separado", "Exemplo02")</li>
    <li>@Html.ActionLink("Exemplo 03 - jQuery", "Exemplo03")</li>
    <li>@Html.ActionLink("Exemplo 04 - jQuery (Ajax)", "Exemplo04")</li>
    <li>@Html.ActionLink("Exemplo 05 - jQuery (section)", "Exemplo05")</li>
</ul>

