@model IEnumerable<ControleFinanceiroWeb.Models.TipoConta>

@{
    ViewData["Title"] = "Índice";
}

<h2>@SR["Lista"] @SR["de"] @SR["Tipos de Conta"]</h2>

<p>
    <a asp-action="Create">@SR["Criar um Tipo de Conta"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.Partial("~/Views/Shared/_EditarDetalhesExcluir.cshtml", @item)
                </td>
            </tr>
        }
    </tbody>
</table>
